.first_page {
    height: 60vh;
    margin-top: 30vh;
    margin-left: 10vw;
}

a:hover{
    text-decoration: none;
}

.navbar-bg{
    background-color: #191a1da8;
}

.boxShadow {
    box-shadow: 10px 10px 10px #00000091;
}

.fp_divone {
    position: relative;
    top: 7rem;
}

.fp_divtwo {
    margin-top: 10rem;
}


.contact-us{
    position: fixed;
    right: 2em;
    bottom: -3em;
    z-index: 2;
}

.contact-us-hidden-one{
    position: fixed;
    right: 2em;
    bottom: 1.2em;
    z-index: 1;
}

.contact-us-hidden-two{
    position: fixed;
    right: 2em;
    bottom: 5.4em;
    z-index: 1;
}

.second_page {
    position: relative;
    opacity: 0;
}

.scrolled-down {
    transform: translateY(-200%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.img-other{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.service_one{
    background-image: url("../img/cleaning.jpg");
    margin-top: 10rem;
}

.cleaning {
    background-color: #ffffffa8;
}

.btn-learn {
    background-color: #153E5Ca8;
}

.tp_divone{
    padding: 3rem;
    /* margin-top:10rem; */
}

.tp_innerdiv{
    background-color:#153E5Ca8;
    margin: 3rem 0.01rem 7rem 1rem;
}

.service-margin{
    margin-top: 10em;
}

.hover_left{
    z-index: 2;
}

.hover_center{
    z-index: 4;
}

.hover_right{
    z-index: 6;
}

.service_two{
    background-image: url("../img/technical.jpg");
}

.features{
    margin-top: 2rem;
}

.feature-content{
    padding: 1.5em;
}

.service_three{
    background-image: url("../img/other_services.jpg");
}

.icon{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.res-img{
    background-image: url("../img/Residential-cleaning.jpg");
    width: 99.1vw;
}

.ourServices{
    position: relative;
}

.res-hover{
    position: absolute;
    top: 0rem;
    z-index: -1;
}

.commercial-img{
    background-image: url("../img/commercial.jpg");
    width: 99.1vw;
}

.plumbing-img{
    background-image: url("../img/plumbing.jpg");
    width: 99.1vw;
}

.electrical-img{
    background-image: url("../img/electrical.jpg");
    width: 99.1vw;
}

.sewage-img{
    background-image: url("../img/sewage.jpg");
    width: 99.1vw;
}

.security-img{
    background-image: url("../img/security.jpg");
    width: 99.1vw;
}

.painting-img{
    background-image: url("../img/painting.jpg");
    width: 99.1vw;
}

.furniture-img{
    background-image: url("../img/furniture.jpg");
    width: 99.1vw;
}

.grp-img{
    background-image: url("../img/group-pic.JPG");
    width: 100%;
    position: relative;
}

.grp-logo{
    position: absolute;
    left: 35%;
    top: 25%;
    opacity: 0.2;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: initial;
    height: 51%;
    width: 26%;
}

.grp-text{
    position: absolute;
    top: 30%;
    padding: 6%;
    opacity: 0;
    z-index: 0;
    width: 30%;
    left: 33%;
    font-size: 20px;
}

.grp-logo:hover{
    opacity: 0.6;
}

.grp-text:hover{
    opacity: 1;
}

.overlay{
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

/* Carousel Style */

.carousel-btn{
    height: fit-content;
    top: 50%;
    background: none;
    border: none;
}

.gal-div{
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Styles for one.html */

.content{
    line-height: 185%;
}